{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>{% trans "Local Library" %}</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
  <div class="d-flex" id="wrapper">
    {% block sidebar %}
    <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light">{% trans "Local library" %}</div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'index' %}">{% trans "Home" %}</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'books' %}">{% trans "All books" %}</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'authors' %}">{% trans "All authors" %}</a>
      </div>
    </div>
    {% endblock %}
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
          <button class="btn btn-primary" id="sidebarToggle">Menu</button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Search" %}</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'search-book' %}">{% trans "Search book" %}</a>
                <a class="dropdown-item" href="{% url 'search-author' %}">{% trans "Search author" %}</a>
              </div>
            </li>
            {% if user.is_staff %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Staff" %}</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  {% if perms.catalog.can_mark_returned %}
                    <a class="dropdown-item" href="{% url 'all-borrowed' %}">{% trans "All borrowed" %}</a>
                    <a class="dropdown-item" href="{% url 'book-create' %}">{% trans "Add book" %}</a>
                    <a class="dropdown-item" href="{% url 'author-create' %}">{% trans "Add author" %}</a>
                  {% endif %}
                </div>
              </li>
            {% endif %}
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "User:" %} {{ user.get_username }}</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'my-borrowed' %}">{% trans "My Borrowed" %}</a>
                  <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">{% trans "Logout" %}</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">{% trans "Login" %}</a>
              </li>
            {% endif %}
            </ul>
          </div>
        </div>
      </nav>    
      <div class="container-fluid">
        {% block content %}{% endblock %}
        {% block pagination %}
          {% if is_paginated %}
            <div class="pagination">
              <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="page-current">
                  {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
              </span>
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
