{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
{% load static %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
<div class="main-block">
  <form action="" method="post">
    {% csrf_token %}
    <h1>{% trans title %}</h1>
    <div class="info">
      {% for field in form.visible_fields %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>
            {{ field.errors }}
            {{ field }}
          </td>
        </tr>
      {% endfor %}
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
